[submodule "reusableAPI/derby-barchart"]
	path = reusableAPI/derby-barchart
	url = git://github.com/enjalot/derby-barchart.git
[submodule "angular"]
	path = reusableAPI/angular
	url = git://gist.github.com/5519819.git
[submodule "vanilla"]
	path = vanillad3
	url = git://gist.github.com/5518052.git
[submodule "reusabled3"]
	path = reusableAPI/reusable
	url = git://gist.github.com/5519642.git
[submodule "ember"]
	path = reusableAPI/ember
	url = git://gist.github.com/5520449.git
[submodule "backbone"]
	path = reusableAPI/backbone
	url = git://gist.github.com/5522467.git
